/.idea/.idea.PasteBinApi/.idea/.name
/PasteBinApi/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/PasteBinApi/obj/Debug/net8.0/apphost.exe
/.idea/config/applicationhost.config
/PasteBinApi/bin/Debug/net8.0/Dapper.dll
/.idea/.idea.PasteBinApi/.idea/indexLayout.xml
/PasteBinApi/bin/Debug/net8.0/Microsoft.AspNetCore.OpenApi.dll
/PasteBinApi/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/PasteBinApi/bin/Debug/net8.0/Microsoft.Extensions.Logging.Abstractions.dll
/PasteBinApi/bin/Debug/net8.0/Microsoft.OpenApi.dll
/PasteBinApi/obj/Debug/net8.0/staticwebassets/msbuild.build.PasteBinApi.props
/PasteBinApi/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.PasteBinApi.props
/PasteBinApi/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.PasteBinApi.props
/PasteBinApi/bin/Debug/net8.0/Npgsql.dll
/PasteBinApi/obj/Debug/net8.0/PasteBinApi.AssemblyInfoInputs.cache
/PasteBinApi/obj/Debug/net8.0/PasteBinApi.assets.cache
/PasteBinApi/obj/Debug/net8.0/PasteBinApi.csproj.AssemblyReference.cache
/PasteBinApi/obj/Debug/net8.0/PasteBinApi.csproj.CopyComplete
/PasteBinApi/obj/Debug/net8.0/PasteBinApi.csproj.CoreCompileInputs.cache
/PasteBinApi/obj/Debug/net8.0/PasteBinApi.csproj.FileListAbsolute.txt
/PasteBinApi/obj/PasteBinApi.csproj.nuget.dgspec.json
/PasteBinApi/obj/PasteBinApi.csproj.nuget.g.props
/PasteBinApi/obj/PasteBinApi.csproj.nuget.g.targets
/PasteBinApi/bin/Debug/net8.0/PasteBinApi.deps.json
/PasteBinApi/bin/Debug/net8.0/PasteBinApi.dll
/PasteBinApi/obj/Debug/net8.0/ref/PasteBinApi.dll
/PasteBinApi/obj/Debug/net8.0/refint/PasteBinApi.dll
/PasteBinApi/obj/Debug/net8.0/PasteBinApi.dll
/PasteBinApi/bin/Debug/net8.0/PasteBinApi.exe
/PasteBinApi/obj/Debug/net8.0/PasteBinApi.GeneratedMSBuildEditorConfig.editorconfig
/PasteBinApi/obj/Debug/net8.0/PasteBinApi.genruntimeconfig.cache
/PasteBinApi/obj/Debug/net8.0/PasteBinApi.GlobalUsings.g.cs
/PasteBinApi/obj/Debug/net8.0/PasteBinApi.MvcApplicationPartsAssemblyInfo.cache
/PasteBinApi/obj/Debug/net8.0/PasteBinApi.MvcApplicationPartsAssemblyInfo.cs
/PasteBinApi/bin/Debug/net8.0/PasteBinApi.pdb
/PasteBinApi/obj/Debug/net8.0/PasteBinApi.pdb
/PasteBinApi/bin/Debug/net8.0/PasteBinApi.runtimeconfig.json
/PasteBinApi/obj/Debug/net8.0/PasteBinApi.sourcelink.json
/PasteBinApi/obj/project.assets.json
/PasteBinApi/obj/project.nuget.cache
/PasteBinApi/obj/project.packagespec.json
/PasteBinApi/obj/rider.project.restore.info
/PasteBinApi/obj/Debug/net8.0/staticwebassets.build.json
/PasteBinApi/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
/PasteBinApi/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/PasteBinApi/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/.idea/.idea.PasteBinApi/.idea/vcs.xml
